.default {
    background: azure;
}

.default-text {
    color: darkslateblue;
}

.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.some {
    background: lightgreen;
}

.some-text {
    color: darkslateblue;
}

.optionsBorderColor,
.selectBorderColor {
    border-color: #000;
    color: #0d0d0d;
}